html, body{
  height: 100%;
  background: #F4FAFA;
}

md-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.fill{
  flex: 1 1 auto;
}

form md-input {
  overflow: inherit !important;
}
